.slider {
    display: inline-block;

    margin: 5px 10%;
    width: 45%;
}

.music-info {
    overflow: hidden;

    position: absolute;
    top: 25%;
    left: 35%;

    width: 60%;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;

    width: 66px;
    height: 66px;

    background: rgba(0,0,0,.1);
}
