.link:hover {
    color: #ea6753;
}

.footer {
    padding: 10px 30px;
}

.category {
    padding: 3px;

    font-size: 16px;
}
.category:hover {
    color: #fff;
    background: #2ca6cb;
}

.tag {
    padding: 3px;

    font-size: 16px;

    background: rgb(230,230,230);
}
.tag:hover {
    color: #fff;
    background: #2ca6cb;
}

.content {
    border-bottom: 1px solid #eee;
    padding: 10px 30px;
}

.title {
    font-size: 30px !important;
}

.summary {
    overflow: hidden;

    padding: 30px 30px 20px;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.previous {
    display: block;

    margin: 10px 0;
    padding: 10px 10px 10px 0;
    width: 140px;

    text-align: center;
}

.next {
    position: absolute;
    top: 0;
    right: 0;

    padding: 10px 0 10px 10px;
    width: 140px;

    text-align: center;
}

.previous:hover,
.next:hover {
    color: #fff;
    background: #2ca6cb;
}

.nav {
    position: relative;

    height: 90px;
}

.comment {
    margin-top: -1px;
    border-radius: 0;
}

.comment p {
    padding: 5px 5px 5px 15px !important;

    font-size: 20px !important;
}

.comment h3 {
    font-size: 22px !important;
}

.avatar {
    margin-right: 8px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    vertical-align: middle;
}
