.title {
    margin: 10px 0;

    font-size: 20px;

    color: #ccc;
}

.categoriesList {
    font-size: 13px;
    line-height: 25px;
}

.table {
    margin: 30px 0 0;

    cursor: pointer;
}

.row {
    height: 40px;

    background: #fff;
}

.time {
    padding-left: 28px !important;
    width: 35%;

    font-size: 15px;

    color: #817c7c;
}

.article {
    font-size: 20px;

    color: #2ca6cb;
}

.link {
    margin-right: 15px;

    font-size: 15px;
}
