.title {
    position: absolute;

    margin-left: 10px;

    font-size: 39px;
    font-weight: 400;

    color: #fff;
}

.logo {
    width: 83px;
    height: 83px;

    vertical-align: middle;
}

.container {
    padding-top: 29px;
    height: 180px;

    background: #2ca6cb;

    box-shadow: 2px 4px 5px rgba(3,3,3,.2);
}

.desc {
    position: absolute;
    top: 62px;

    margin-left: 10px;

    font-size: 18px;

    color: #fff;
}

.menu {
    float: right;

    font-size: 25px;

    color: #fff;
}

.username {
    font-size: 20px !important;
    font-weight: 400;
    height: 36px !important;
    vertical-align: middle;


    color: #fff;
}

.upload {
    position: fixed;
    top: 0;
    right: 0 ;
    bottom: 0;
    left: 0;
    z-index: 1;

    margin: auto;
    width: 80px;
    height: 80px;
}

.avatar {

vertical-align: middle;
    margin-right: 5px;
    border-radius: 50%;
    width: 35px;
}
