@font-face {
  font-family: "iconfont";

  src: url("//at.alicdn.com/t/font_ztaivwl27wb6s9k9.eot?t=1497758887071");
  src: url("//at.alicdn.com/t/font_ztaivwl27wb6s9k9.woff?t=1497758887071") format("woff"), url("//at.alicdn.com/t/font_ztaivwl27wb6s9k9.ttf?t=1497758887071") format("truetype"), url("//at.alicdn.com/t/font_ztaivwl27wb6s9k9.svg?t=1497758887071#iconfont") format("svg");
}

.container {
  position: relative;

  margin-top: 16px;
  padding: 0 26px 8px 26px;
  height: 248px;

  background: #1f1f1f;

  .author {
    margin-left: -55px;
    border-radius: 50%;
    width: 110px;
    height: 110px;

    background: no-repeat url("http://cdn.yinfengblog.com/tuzi.jpg");
    background-size: 100% 100%;

    transition: transform 2s ease-out;

    &:hover {
      transform: rotate(360deg);
    }
  }

  .line {
    display: block;

    width: 2px;
    height: 80px;

    background: #fff;
  }

  .title {
    position: absolute;
    top: 50%;
    left: 25%;

    font-size: 20px;

    color: #fff;
  }

  .desc {
    position: absolute;
    top: 70%;
    left: 20%;

    font-family: "Verdana";
    font-size: 20px;

    color: #fff;
  }

  .iconfont {
    margin: 0 10px;

    font-family: "iconfont" !important;
    font-size: 32px;
    font-style: normal;

    color: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:hover {
      color: #2ca6cb;
    }
  }

  .iconWeixin:before {
    content: "\e600";
  }

  .iconZhihu:before {
    content: "\e6d1";
  }

  .icon {
    margin: 0 10px;

    font-size: 30px;

    color: #fff;

    &:hover {
      color: #2ca6cb;
    }
  }

  .social-font {
    position: absolute;
    top: 95px;
    right: 12px;

    width: 204px;
  }

  .copyright {
    position: absolute;
    bottom: 10px;
    left: 50%;

    width: 278px;

    font-family: "Verdana";
    font-size: 13px;

    color: #fff;

    transform: translate(-50%);
  }

  .copyright-link {
    color: #2ca6cb;

    &:hover {
      text-decoration: underline !important;
    }
  }

  .mtitle {
    margin: 10px 0;

    font-size: 20px;
    text-align: center;

    color: #fff;
  }

  .mdesc {
    margin: 0 auto;
    width: 230px;

    font-size: 20px;
    text-align: center;

    color: #fff;
  }
}
