html,
body,
:global(#root) {
    height: 100%;

    font-family: "Helvetica Neue","Helvetica","Microsoft YaHei","WenQuanYi Micro Hei",Arial,sans-serif;

    background: #ddd;
}

:global(.ant-menu) {
    border-bottom: none !important;

    background: #2ca6cb !important;
}

:global(.ant-back-top) {
    bottom: 100px;
}

:global(.ant-card-head) {
    font-size: 40px;
    line-height: 40px;
}
:global(.ant-card-head-title) {
    font-size: 25px !important;
    font-weight: 400 !important;

    color: #2ca6cb !important;
}

:global(.ant-card-body) {
    padding: 0 !important;
}

:global(h1) {
    border-bottom: 2px solid #dbdbdb !important;

    line-height: 60px;
}

:global(h2) {
    margin-top: 20px !important;
    border-bottom: 2px solid #dbdbdb !important;

    line-height: 45px;
}

:global(p) {
    line-height: 40px;
}

:global(pre) {
    margin: 7px 0 !important;
    padding: 7px 16px !important;

    white-space: pre-wrap;

    color: #fff;
    background: #23241f;
}

:global(ol) {
    list-style-type: decimal !important;
}

:global(.bar) {
    background: #fff !important;
}

:global(.spinner-icon) {
    border-top-color: #fff !important;
    border-left-color: #fff !important;
}

:global(a:focus) {
    text-decoration: none !important;
}
