<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <link rel="shortcut icon" href="favicon.png">
  <title>和光同尘 | 前端小白</title>
  <link rel="stylesheet" href="http://cdn.yinfengblog.com/nprogress.min.css">
  <link rel="stylesheet" href="http://cdn.yinfengblog.com/monokai-sublime.min.css">
</head>

<body>
  <div id="root"></div>
  <script src="http://cdn.yinfengblog.com/nprogress.min.js"></script>
  <script src="http://cdn.yinfengblog.com/highlight.min.js"></script>
  <script src="http://cdn.yinfengblog.com/react.min.js"></script>
  <script src="http://cdn.yinfengblog.com/react-dom.min.js"></script>
  <script src="http://cdn.yinfengblog.com/react-quill.min.js"></script>
</body>

</html>
