<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="Acc,博客,前端开发">
  <meta name="description" content="前端小白的学习笔记">
  <meta name="author" content="Yin Feng">
  <meta name=”apple-mobile-web-app-capable” content=”yes” />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="renderer" content="webkit">
  <link rel="shortcut icon" href="favicon.png">
  <title>和光同尘 | 前端小白</title>
  <link rel="stylesheet" href="http://apps.bdimg.com/libs/nprogress/0.2.0/nprogress.min.css">
  <link rel="stylesheet" href="http://apps.bdimg.com/libs/highlight.js/9.1.0/styles/monokai-sublime.min.css">
</head>

<body>
  <div id="root"></div>
  <script src='http://apps.bdimg.com/libs/nprogress/0.2.0/nprogress.min.js'></script>
  <script src="http://apps.bdimg.com/libs/highlight.js/9.1.0/highlight.min.js"></script>
  <script src="http://cdn.yinfengblog.com/react.min.js"></script>
  <script src="http://cdn.yinfengblog.com/react-dom.min.js"></script>
  <script src="http://cdn.yinfengblog.com/react-quill.min.js"></script>
  <script src="http://cdn.yinfengblog.com/moment-with-locales.min.js"></script>
</body>

</html>
