html,
body,
:global(#root) {
    height: 100%;

    font-family: "Helvetica Neue","Helvetica","Microsoft YaHei","WenQuanYi Micro Hei",Arial,sans-serif;

    background: #ddd;
}

:global(.ant-menu) {
    border-bottom: none !important;

    background: #2ca6cb !important;
}

:global(.ant-back-top) {
    bottom: 100px;
}

:global(.ant-card-head) {
    font-size: 40px;
    line-height: 40px;
}
:global(.ant-card-head-title) {
    width: 73% !important;

    font-size: 25px !important;
    font-weight: 400 !important;

    color: #2ca6cb !important;
}

:global(.ant-card-body) {
    padding: 0 !important;
}

:global(pre) {
    white-space: pre-wrap;
}
